@charset "UTF-8";

header>div {
    background-color: rgb(247, 97, 97);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);

    margin: 10px;
    padding: 5px;
    width: auto;
    height: auto;
    border-radius: 10px;
    border: solid;
    border-color: rgb(59, 57, 54);
    box-shadow: 1px 5px 1px black;
}

header>div>h1 {
    text-align: center;
    padding: 0px;
    text-shadow: 1px 1px 6px black;
}

header>div>nav>a {
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    color: #ffffff;
    margin: 34px;
}

.youtube:hover {
    color: rgb(112, 2, 2);
    text-decoration: underline;
}

.Telegram:hover {
    color: rgb(0, 238, 255);
    text-decoration: underline;
}

.Watiszapi:hover {
    color: rgb(1, 255, 64);
    text-decoration: underline;
}

.Tikutuku:hover {
    color: rgb(39, 0, 214);
    text-decoration: underline;
}

.Texto {
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin: 10px;
    text-align: center;
    background-color: whitesmoke;

    padding: 10px;
    border-radius: 20px;
    border: solid;

}

body {
    background-color: bisque;
}

.conteudo {
    display: flex;
    gap: 20px;
}

.Noticias {}